<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

</head>

<body>
    <header></header>
    <nav></nav>
    <section>
        <div id="myApp">
            {{listaFrases}}
            <ul>
                <li>1</li>
                <li>2</li>
                <li>3</li>
                <li>4</li>
                <li>5</li>
            </ul>
            <hr>
            <ul>
                <!--Arreglo de objetos-->
                <li v-for="mifrase in listaFrases ">{{mifrase.frase}} - {{mifrase.autor}}
                    <button>{{mifrase.autor}}</button>
                    <P>{{mifrase.frase}}</P>
                </li>

            </ul>
            <hr>
            <label for="idFrase">Frase:</label>
            <input id="idFrase" type="text">
            <label for="idAutor">Autor</label>
            <input  id="idAutor" type="text">
            <button>Agregar</button>
            <ul>
                <!--Desestructuracion-->
                <li v-for="{frase,autor} in listaFrases ">{{frase}} - {{autor}}
                    <button>{{autor}}</button>
                    <P>{{frase}}</P>
                </li>

            </ul>
        </div>
        <script src="../js/appfrases.js"></script>
    </section>
    <footer></footer>
</body>

</html>